<footer>
    <hr>
    <h4>
        Copyright 2022
    </h4>
    <p>@Cocktail Crafts
                    <a href="./aboutUs">About</a>
                    <a href="./contactUs">Contact</a>
    </p>
</footer>