<header>
    <div style="text-align: left">
        <a href="/">
            <img alt="logo" src="/public/logo.jpg"
            width="200" height="100">
         </a>
    </div>
    
    <div class="GeneralNavigation">
        <a href="/discover">Discover</a>
        <a href="/login">Login</a>
  </div>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="server\public\style.css">
</header>