<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="public/style.css">
  <title>About Us</title>
</head>

<body>
  <%- include('./partials/header.ejs'); -%>
    <h1>About Us</h1>
    <h3>Welcome to Cocktail Crafts</h3>
    <p>Cocktail Crafts was founded in the year 2022 by five UNC Charlotte students.
        We here at Cocktail Crafts are passionate about discovering new recipes,
        going out of your comfort zone and gooing above and beyond. Try our many
        different features designed to ensure you have the best drinking experience!</p>
  <%- include('./partials/footer.ejs'); -%>
</body>

</html>