<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="public/style.css">
  <title>Contact</title>
</head>


<body>
  <%- include('./partials/header.ejs'); -%>
		<h1>Contact Us</h1>
		<h2>Email: </h2>
		<p>cocktailcrafts@gmail.com</p>
		<h2>Phone: </h2>
		<p>704-205-1903</p>
		<h2>Address: </h2>
		<p>2200 Lakeview Drive</p>

  <%- include('./partials/footer.ejs'); -%>
</body>

</html>