<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <title>Home</title>
</head>

<body>
    <%- include ('./partials/header.ejs') %>
    <h1 id="HomeIntro">
        ENJOY A DRINK
    </h1>
    <br>
    <h2 id ="HomeIntro">
        Wondering what your next drink is going to be?<br> 
        Cocktail Crafts is for you. Choose your ingredients<br>
        and start crafting.
    </h2>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>