*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    color:white;
}
.v-application--wrap{
    background-color: rgb(15, 12, 12);
    height: 100%;
}
#homeimg{
    border-radius:50%;
    top:25%;
}
#homecard{
    top:25%;
}
.logincard{
    padding:20px;
}
html {
    overflow-y: auto;
}